/*#
@colors&{"titlesAccentColor":"#494949","labelsAccentColor":"#7b7a7a","linksAccentColor":"#2372de","backgroundAccentColor":"#dce5f2","isDefault":true}&colors@
@info@STYLES BASKET SELECTIONS METADATA@info@
@name&styles_basket&name@
@aspects&wh-tiles,theme-color-ashes,wh-menu-page-colors-link-color,wh-search-component-colors-white,wh-search-component-background-color-light,wh-search-component-padding-extra-extra-large,titles-color-labels,wh-left-toc-underline-selection,wh-breadcrumb-colors-custom,wh-index-terms-styles-titles-bold,notes-layout-two-lines,notes-style-borders-box,notes-colors-colorful,wh-footer-background-color-light,table-colors-black-white,related-links-background-accent-color,related-links-colors-titles,fonts-selector&aspects@
@info@WARNING: PLEASE DON'T MODIFY THIS FILE. MODIFICATION CAN CAUSE UPLOADING ERRORS@info@
@info@TIP: YOU CAN USE custom.css TO ADD CUSTOM SELECTORS.@info@
#*/
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'BrandingFont';
  src: url(resources/primaryBrandingFonts-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts.ttf) format('truetype');
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'SecondaryBrandingFont';
  src: url(resources/secondaryBrandingFonts-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* Bold selection in Publication TOC. WebHelp only. */
@media screen {
  .wh_publication_toc .active > .topicref a {
    font-weight: bold;
  }
}
/*theme-color-ashes*/
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~='front-page/front-page-title'],
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  color: #61a8df;
}
*[class~='topic/shortdesc']:before {
  color: #3a444a;
}
*[class~='topic/xref'],
*[class~='topic/link'] {
  color: #61a8df;
}
.related-links a,
.related-links a:visited {
  color: #61a8df;
}
a,
a:hover,
a:visited {
  color: #61a8df;
}
*[class~='topic/table'] th {
  background-color: #293136;
}
/*fonts-selector*/
@page {
  font-family: 'BrandingFont', sans-serif;
}
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~='front-page/front-page-title'],
*[class~="toc/title"],
*[class~="map/topicref"],
*[class~='topic/title'],
*[class~='topic/thead'],
*[class~="placeholder/figurelist"],
*[class~="placeholder/tablelist"],
*[class~="index/groups"]::before,
*[class~="index/group"] > *[class~="index/label"],
.wh_publication_title,
.wh_top_menu,
.wh_tile_title .topicref,
.wh_main_page_toc_entry .topicref,
.wh_index_terms span.wh_first_letter,
.wh-letters li a {
  font-family: 'BrandingFont', sans-serif;
}
body {
  font-family: 'SecondaryBrandingFont', sans-serif;
}
/*titles-color-labels*/
.topictitle1,
.topictitle2,
.topictitle3,
.topictitle4,
.topictitle5,
.topictitle6,
*[class~="toc/title"],
*[class~="placeholder/figurelist"] > *[class~="topic/title"],
*[class~="placeholder/tablelist"] > *[class~="topic/title"],
*[class~="index/groups"]::before {
  color: #3a444a;
}
/*table-colors-black-white*/
*[class~='topic/table'] th {
  background-color: #ffffff;
}
/*notes-layout-two-lines*/
span.note__title {
  display: block;
}
/*notes-style-borders-box*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  border: 1px solid;
  border-radius: 11px;
}
/*notes-colors-colorful*/
*[class~="topic/note"]:not([class~="hazard-d/hazardstatement"]) {
  background-color: rgba(0, 120, 160, 0.09);
  border-color: #0078A0;
}
*[class~="topic/note"].note_danger,
*[class~="topic/note"].note_caution {
  background-color: rgba(255, 202, 45, 0.1);
  border-color: #606060;
}
*[class~="topic/note"].note_warning,
*[class~="topic/note"].note_attention,
*[class~="topic/note"].note_important {
  background-color: rgba(255, 202, 45, 0.1);
  border-color: #FFCA2D;
}
*[class~="topic/note"].note_restriction {
  background-color: rgba(255, 226, 225, 0.32);
  border-color: #FF342D;
}
/*related-links-colors-titles*/
*[class~="topic/linklist"] > strong {
  color: #61a8df;
}
/*related-links-background-accent-color*/
*[class~="topic/linklist"] {
  padding: 5px;
  background-color: #293136;
}
/*wh-tiles*/
/*wh-left-toc-underline-selection*/
.wh_publication_toc .active > .topicref a {
  text-decoration: underline;
}
.wh_publication_toc .title a:hover {
  text-decoration: underline;
}
/*wh-index-terms-styles-titles-bold*/
.wh-letters li a,
.wh_first_letter {
  font-weight: bold;
}
.wh_index_terms .wh_first_letter {
  border-bottom: none;
}
/*wh-menu-page-colors-link-color*/
.wh_header {
  background-color: #293136;
}
.wh_top_menu > ul > li a,
.wh_indexterms_link a::before {
  color: #61a8df;
}
.wh_indexterms_link a span {
  display: none;
}
.wh_top_menu ul li:hover {
  background-color: #131719;
}
.wh_top_menu ul ul {
  background-color: #131719;
}
.wh_top_menu ul ul li {
  border-top-color: #293136;
}
.wh_top_menu ul ul li a:hover {
  background: #080a0b;
}
/*wh-search-component-colors-white*/
.wh_search_button {
  background-color: #ffffff;
  color: #000000;
}
/*wh-search-component-background-color-light*/
.wh_search_input {
  background-color: #556670;
}
/*wh-search-component-padding-extra-extra-large*/
.wh_search_input {
  padding: 80px 0;
}
/*wh-footer-background-color-light*/
.wh_footer {
  background-color: #556670;
}

